@import url('https://fonts.googleapis.com/css2?family=Delius&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-image: url(/images/clouds-8420083_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Montserrat, sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container{
    width: 40%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    backdrop-filter: blur(3px);
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 10px 40px rgb(233, 152, 101);
    border-radius: 30px;
    height: 300px;
}
.cloud{
    font-size: 50px;
}
.sun{
    font-size: 50px;
}